fastapi==0.116.1
uvicorn[standard]==0.35.0
transformers==5.0.0rc3
torch==2.8.0+cpu --index-url https://download.pytorch.org/whl/cpu
pydantic==2.11.7
prometheus_client==0.22.1
numpy==2.3.2
scikit-learn==1.7.1